<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="collection of Experience API libraries">
            <directory>./Bundle/*/Tests</directory>
            <directory>./Storage/*/Tests</directory>
            <directory>./*/Tests</directory>
            <directory>./*/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <file>bootstrap.php</file>
                <directory>./*/doc</directory>
                <directory>./*/Exception</directory>
                <directory>./*/Tests</directory>
                <directory>./*/tests</directory>
                <directory>./*/vendor</directory>
                <directory>./Bundle/*/Resources</directory>
                <directory>./Bundle/*/Tests</directory>
                <directory>./Bundle/*/vendor</directory>
                <directory>./DataFixtures</directory>
                <directory>./Storage/*/Test</directory>
                <directory>./Storage/*/Tests</directory>
                <directory>./Storage/*/vendor</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
